body {
    font-family: "Raleway";
    background-color: #0e0e0e;
    display: flex;
    margin: 0;
    margin-left: 350px;
    margin-right: 30px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}


.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 40px;
    column-gap: 20px;
    margin-bottom: 1rem;
}


h1 {
    font-size: 4rem;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
    font-family: "Big Shoulders Stencil";

}

.BWname {
    font-size: 5.5rem;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: "Big Shoulders Stencil";
    font-weight: 900;
    transform: scaleX(1.2);
}

.BWnamelogo {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 15px;
}


h2 {
    font-size: 1.5rem;
    color: rgb(206, 206, 206);
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}



/* Full-width for Mobile */

@media (max-width: 1200px) {

    .BWnamelogo {
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 70px;
        padding: 15px;
    }

}


/* Hide Sidebar if screen height too small to display whole sidebar */
@media (max-height: 850px) {
    body {
        margin-left: 250px;
        margin-right: 0px;
    }

    .main-content {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .section {
        justify-content: center;
    }

    h1 {
        font-size: 3rem;
    }

    .BWnamelogo {
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        padding: 15px;
    }
}

/* Hide Sidebar on Mobile */
@media (max-width: 900px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-content {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .section {
        justify-content: center;
    }

    h1 {
        font-size: 3rem;
    }

    .BWnamelogo {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        padding: 20px;
    }

}









#about-me-container .about-me,
#about-me-container .main-technical-skills {
    display: none;
    /* Hide these elements by default */
}



/* About Me Section */
.about-me {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
}

.about-me-desktop {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    text-align: center;
}


h4 {
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-bottom: 30px;
    font-family: "Big Shoulders Stencil";
}

.about-me p,
.about-me-desktop p {
    font-size: 1.25rem;
    color: #b0b0b0;
    margin: 0;
}

/* Technical Skills Section */
.main-technical-skills {
    width: 45%;
    /* Technical skills section takes up 45% of the width */
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Hide Sidebar if screen height too small to display whole sidebar */
@media (max-height: 850px) {

    .about-me,
    .main-technical-skills {
        width: 90%;
        margin-bottom: 30px;

    }

    #about-me-container {
        display: flex;
        justify-content: center;
        /* Distribute space between the sections */
        flex-direction: column;
        /* Stack the sections vertically on small screens */
        align-items: center;
        /* Center align the sections */
        /* Align items at the top */
        gap: 20px;
        width: 100%;
    }

    #about-me-container .about-me {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
    }
}




/* on mobile phones */
@media (max-width: 850px) {

    .about-me,
    .main-technical-skills {
        width: 90%;
        margin-bottom: 30px;

    }

    #about-me-container {
        display: flex;
        justify-content: center;
        /* Distribute space between the sections */
        flex-direction: column;
        /* Stack the sections vertically on small screens */
        align-items: center;
        /* Center align the sections */
        /* Align items at the top */
        gap: 20px;
        width: 100%;
    }

    #about-me-container .about-me,
    #about-me-container .main-technical-skills {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
    }
}