.project_container {
    position: relative;
    width: 450px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    border: 1px rgb(44, 44, 44) solid;
}


.project_container:empty {
    background-color: white;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    background-color: #151515;
}

.overlay a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    padding: 5px;
}

.overlay a img {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) invert(1);
}

.keywords {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.keyword {
    font-size: .875rem;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    padding: 3px 6px;
    border-radius: 10px;
}

/* Full-width for Mobile */
@media (max-width: 768px) {
    .project_container {
        width: 90%;
        height: 300px;
    }

}