.project_container {
    position: relative;
    width: 450px;
    height: 400px;
    perspective: 1000px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.project_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.project_container.flipped .project_inner {
    transform: rotateY(180deg);
}

.project_front,
.project_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project_front {
    background: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(44, 44, 44);
    transition: transform 0.3s ease;
}

/* Back side styling */
.project_back {
    background-color: #151515;
    color: white;
    transform: rotateY(180deg);
    font-size: 1.2rem;
}

/* Add hover effects to project container */
.project_container:hover .project_front {
    transform: scale(1.04);

}

/* Hover effect for project card */
.project_container:hover {
    transform: translateY(-10px);
}



/* Overlay text and links */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    background-color: #151515;
}

.overlay a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    padding: 5px;
}

.overlay a img {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) invert(1);
}

/* Keywords container */
.keywords {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.keyword {
    font-size: .875rem;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    padding: 3px 6px;
    border-radius: 10px;
}

.corner_icon_wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.corner_icon {
    width: 22px;
    height: 22px;
    margin: 0;
    display: block;
}


/* Full-width for Mobile */
@media (max-width: 768px) {
    .project_container {
        width: 90%;
        height: 300px;
    }
}


/* for 1080p (1920) */
@media (max-width: 1700px) {
    .project_container {
        position: relative;
        width: 350px;
        height: 300px;
        perspective: 1000px;
        transition: transform 0.6s ease, box-shadow 0.3s ease;
    }
}